<div style="text-align: center;">
    <h1 align="center"> LTI Home Loan Application </h1><br>

    <button class="btn btn-primary btn-block/" type='button' routerLink="/">Home</button> <br><br>

    <div>
        <h3>Loan Tracker</h3>

        <input type=text placeholder="trackerId" name=t1 [(ngModel)]="loantrackerid" required #id="ngModel"
            minlength="1" maxlength="4">
            <div *ngIf="id.invalid" class="text-warning">
                TrackerId Id Required.
            </div>
    
            <br>
            <input type=text placeholder="phone number" name=t2 [(ngModel)]="phonenumber" required #phn="ngModel"
                minlength="10" maxlength="13" pattern="^[0-9]{10}$">
            <div *ngIf="phn.invalid" class="text-warning">
                Phone Number Required/ Only Numbers Allowed.
            </div>
        <br>

        <button type='button' class="btn btn-primary btn-block/" (click)="trackLoan(loantrackerid,phonenumber)">search</button>

        <br><br>
    
        <table border="2" align="center" *ngIf="!showerror && loantrack" class="table table-hover table-dark">
            
            <thead>
                <tr>
                    <th>TrackerId</th>
                    <th>Verification Status</th>
                    <th>PHONE NUMBER</th>
                    <th>Customer Id</th>
                    <th>Loan Account No</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                
                <tr class=" loantrack">
                  
                    <td>{{loantrack.loantrackerid}}</td>
                    <td>{{loantrack.loanstatus}}</td>
                    <td>{{loantrack.phonenumber}}</td>
                    <td>{{loantrack.customerId}}</td>
                    <td>{{loantrack.loanAccNo}}</td>
                    <td>{{loantrack.balance}}</td>
                    </tr>

                   
                
            </tbody>
        </table>

        <!-- Else block for if condition i.e if tracker id and phone no doesn't match-->
<div *ngIf="showerror "> 
    <h4 class="bg-danger"> Wrong Tracker Id / Phone Number</h4>
</div>

    </div>