<div><br><br></div>
<div align="center">
<table border="1" width="60%">
    <tr>
        <td>Application Id</td>
        <td>{{app.applicationId}}</td>
    </tr>
    <tr>
        <td>Personal Details</td>
        <td>
            <p>
    
                <button type="button" class="btn btn-info" (click)="isCollapsed1 = !isCollapsed1"
              
                        [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample">
              
                   View
              
                </button>
              
              </p>
              
              <div id="collapseExample" [ngbCollapse]="!isCollapsed1">
              
                <div class="card">
              
                  <div class="card-body" align="center">
              
                      <table border="1" width="100%">
                          <tr>
                              <td>Customer Id</td>
                              <td>{{app.customerId.customerId}}</td>
                              
                          </tr>
                          <tr>
                              <td>First Name</td>
                              <td>{{app.customerId.firstName}}</td>
                          </tr>
                          <tr>
                              <td>Middle Name</td>
                              <td>{{app.customerId.middleName}}</td>
                          </tr>
                          <tr>
                              <td>Last Name</td>
                              <td>{{app.customerId.lastName}}</td>
                          </tr>
                          <tr>
                              <td>Customer Email</td>
                              <td>{{app.customerId.customerEmail}}</td>
                          </tr>
                          <tr>
                              <td>Customer Password</td>
                              <td>{{app.customerId.customerPassword}}</td>
                          </tr>
                          <tr>
                              <td>Phone Number</td>
                              <td>{{app.customerId.phoneNumber}}</td>
                          </tr>
                          <tr>
                              <td>Date Of Birth</td>
                              <td>{{app.customerId.dateOfBirth}}</td>
                          </tr>
                          <tr>
                              <td>gender</td>
                              <td>{{app.customerId.gender}}</td>
                          </tr>
                          <tr>
                              <td>Nationality</td>
                              <td>{{app.customerId.nationality}}</td>
                          </tr>
                          <tr>
                              <td>Aadhar Number</td>
                              <td>{{app.customerId.aadharNumber}}</td>
                          </tr>
                          <tr>
                              <td>Pan Number</td>
                              <td>{{app.customerId.panNumber}}</td>
                          </tr>
                      </table>    
              
                  </div>
              
                </div>
              
              </div>          
            
        </td>
    </tr>
    <tr>
        <td>Income Details</td>
        <td>
            <p>
    
                <button type="button" class="btn btn-info" (click)="isCollapsed = !isCollapsed"
              
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
              
                  view
              
                </button>
              
              </p>
              
              <div id="collapseExample" [ngbCollapse]="!isCollapsed">
              
                <div class="card">
              
                  <div class="card-body" align="center">
              
                      <table border="1" width="100%">
                          <tr>
                              <td>Income Id</td>
                              <td>{{app.incomeId.incomeId}}</td>
                          </tr>
                          <tr>
                              <td>Property Location</td>
                              <td>{{app.incomeId.propertyLocation}}</td>
                          </tr>
                          <tr>
                              <td>Property Name</td>
                              <td>{{app.incomeId.propertyName}}</td>
                          </tr>
                          <tr>
                              <td>Estimated Amount</td>
                              <td>{{app.incomeId.estimatedAmount}}</td>
                          </tr>
                          <tr>
                              <td>Retirement Age</td>
                              <td>{{app.incomeId.retirementAge}}</td>
                          </tr>
                          <tr>
                              <td>Employment Type</td>
                              <td>{{app.incomeId.employmentType}}</td>
                          </tr>
                          <tr>
                              <td>organization Type</td>
                              <td>{{app.incomeId.organizatioType}}</td>
                          </tr>
                          <tr>
                              <td>Employee Name</td>
                              <td>{{app.incomeId.employeeName}}</td>
                          </tr>
                          <tr>
                              <td>Annual Income</td>
                              <td>{{app.incomeId.annualIncome}}</td>
                          </tr>
                      </table>
              
                  </div>
              
                </div>
              
              </div>
            
        </td>
    </tr>
    <tr>
        <td>
Loan Details
        </td>
        <td>
            <p>
    
                <button type="button" class="btn btn-info" (click)="isCollapsed2 = !isCollapsed2"
              
                        [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample">
              
                   View
              
                </button>
              
              </p>
              
              <div id="collapseExample" [ngbCollapse]="!isCollapsed2">
              
                <div class="card">
              
                  <div class="card-body">
              
                      <table border="1" width="100%">
                          <tr>
                              <td>loanId</td>
                              <td>{{app.loanId.loanId}}</td>
                          </tr>
                          <tr>
                              <td>Maximum Loan Amount</td>
                              <td>{{app.loanId.maxLoanAmount}}</td>
                          </tr>
                          <tr>
                              <td>loan Tenure</td>
                              <td>{{app.loanId.loanTenure}}</td>
                          </tr>
                          <tr>
                              <td>Applied Loan Amount</td>
                              <td>{{app.loanId.appliedLoanAmount}}</td>
                          </tr>
                      </table>
              
                  </div>
              
                </div>
              
              </div>
        </td>
    </tr>
    <!--
    <tr>
        <td>Personal Details</td>
        <td><a [routerLink]="['viewpersonal',app.applicationId]" class="btn btn-info">view</a></td>
    </tr>
    <tr>
        <td>Income Details </td>
        <td><a [routerLink]="['viewincome',app.applicationId]" class="btn btn-info">view</a></td>
    </tr>
    <tr>
        <td>Loan Details</td>
        <td><a [routerLink]="['viewloan',app.applicationId]" class="btn btn-info">view</a></td>
    </tr>-->
    <tr>
        <td>Application Status</td>
        <td>{{app.applicationCompletion}}</td>
    </tr>
    <tr>
        <td colspan="2"><hr>Documents uploaded<hr></td>
    </tr>
    
    <tr>
        <td>Pan card</td>
        <td><a href={{app.docsId.pan}}>pan.pdf</a></td>
    </tr>
    <tr>
        <td>Salary Slip</td>
        <td><a href={{app.docsId.salarySlip}}>salaryslip.pdf</a></td>
    </tr>
    <tr>
        <td>LOA</td>
        <td><a href={{app.docsId.loa}}>LOA.pdf</a></td>
    </tr>
    <tr>
        <td>NOC</td>
        <td><a href={{app.docsId.noc}}>NOC.pdf</a></td>
    </tr>
    <tr>
        <td>Agreement</td>
        <td><a href={{app.docsId.agreement}}>Agreement.pdf</a></td>
    </tr>
    <tr>
        <td>Aadhar</td>
        <td><a href={{app.docsId.aadhar}}>Aadhar.pdf</a></td>
    </tr>
</table>
<br>
<br>
<button (click)="approveApplication(app)" class="btn btn-success">Approve</button>&nbsp;&nbsp;&nbsp;
<button (click)="rejectApplication(app)" class="btn btn-danger">Reject</button>
</div>
<router-outlet></router-outlet>


       
         <p>
    
      <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
    
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    
         View
    
      </button>
    
    </p>
    
    <div id="collapseExample" [ngbCollapse]="!isCollapsed">
    
      <div class="card">
    
        <div class="card-body">
    
            <table border="1" width="100%">
                <tr>
                    <td>loanId</td>
                    <td>{{app.loanId.loanId}}</td>
                </tr>
                <tr>
                    <td>Maximum Loan Amount</td>
                    <td>{{app.loanId.maxLoanAmount}}</td>
                </tr>
                <tr>
                    <td>loan Tenure</td>
                    <td>{{app.loanId.loanTenure}}</td>
                </tr>
                <tr>
                    <td>Applied Loan Amount</td>
                    <td>{{app.loanId.appliedLoanAmount}}</td>
                </tr>
            </table>
    
        </div>
    
      </div>
    
    </div>