

    <br>
    <div >
            <!-- <a routerLink="customerregistration" class="btn btn-success">Register</a>
            <a routerLink="adminregistration" class="btn btn-success">Admin</a>
            <a routerLink="adminregistration" class="btn btn-success">Admin</a> -->
            
            <!-- <a routerLink="showall"  class="btn btn-success">Show Vehicles</a>
            <a routerLink="search"  class="btn btn-success">Search Vehicles</a> -->
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>





