

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- <div class="topnav">
    <button (click) = "goToCustReg()"  >User Register</button>
    <button (click) = "goToLogin()" >Log In</button>
  </div>

<div>
    <table>
        <tr><td align="center"><img src="assets/homeloan01.jpg" height="480" width="720"></td>
        </tr>
            <tr>
            <td align=" center"> <h2>Home Loan Application</h2></td>
        </tr>
        
    </table>      
       
</div>

<div >
    
</div> -->

<nav class="navbar navbar-dark " style="background-color: #00ff88;">
    <div class="container-fluid">
      <div>
        <a style="color: #000000; font-size: large;">Easy Home Loans</a>
      </div>
      <ul class="nav navbar-default" >
        <li class="active"><a routerLink="home"  style="font-size: large; color: #000000;">Home</a></li>

        <li><a href="#" style="font-size: large; color: #000000; border: #000000; border-radius: 10%;">About Us</a></li>
        <li><a href="#" style="font-size: large; color: #000000;">Page 2</a></li>
        <li><a href="#" style="font-size: large; color: #000000;">FAQs</a></li>
      </ul>
      <ul class="nav navbar-default navbar-right">
        <!-- <li><a routerLink="customerregistration" style="font-size: large; color: #000000;"><span class="glyphicon glyphicon-user"></span > Register</a></li> -->
        <li><button (click)= "goToHome()" style="font-size: large; color: #000000;"><span class="glyphicon glyphicon-log-out"></span> Logout</button></li>
      </ul>
    </div>
  </nav> 

  <div><img src="assets/homeloan01.jpg" width="624px" height="352px" class="center"></div>
  <br>
  <div> <h3 style="text-align:center; font-size: x-large;"><button href="#" class="button1" >Apply Now</button></h3> </div>
  
  <p>
    <router-outlet></router-outlet>
    </p>