<h1 align = "center">
    WELCOME CUSTOMER
</h1>
<hr><br>
<form #loginform = "ngForm" novalidate>
    <table align = "center">
        <tr>
              <td style="font-size: x-large;"><sup style="color: red;">* </sup>Login ID</td> <td><input type="text" name="loginid" [(ngModel)] = "loginid" required placeholder="Customer ID"></td>
              </tr>
              <td></td><td class="errormsg">{{e1}}</td>
             <tr> 
                 <td style="font-size: x-large;"> <sup style="color: red;">* </sup>Password</td> <td><input type="password" name="password" [(ngModel)] = "password" required placeholder="Password"></td>
                
                </tr> 
                <td></td> <td class="errormsg">{{e2}}</td>
             <tr>
                 <td class = "reg"> <a  class="nav-link" [routerLink]="['/customerregistration']" (click)="doSomeLogic()"><u>Don't have an account? Register Now</u></a></td> 
                 <td align="right">
                   <button style="font-size: medium; border-radius: 4px;
                   padding: 1px 12px;
                   font-size: 12px;" class="btn btn-success" (click)="validateLogin()" [disabled] = "!loginform.valid">Login</button></td>
        </tr>
    </table>

    <router-outlet></router-outlet>
</form>



     




 