<h1 align="center">ADMIN DASHBOARD</h1>
<table align="center">
<tr>
    <td>&nbsp;<a routerLink="viewapplication" class="btn btn-danger">View Pending Applications</a></td>
    <td>&nbsp;<a routerLink="allapplications" class="btn btn-warning">View All Applications</a></td>
    <td>&nbsp;<a routerLink="approvedapplications"class="btn btn-success">View Approved Applications</a></td>
    <td><button (click)= "goToHome()" class="btn btn-secondary"><span class="glyphicon glyphicon-log-out"></span> Logout</button></td>

</tr>
</table>
<router-outlet></router-outlet>