<p>updatevehicle works!</p>
<form #vehicleForm="ngForm" (ngSubmit)=updateVehicle(vehicleForm) novalidate>
    <table>
            <tr><td><label for="vehicleNo">Vehicle NO</label> </td>
                <td><input type="text" name="vehicleNo" [(ngModel)]="vehicle.vehicleNo" required></td>
            </tr>
            <tr><td><label for="vehicleType">Vehicle Type</label> </td>
                <td>
                    <input type="text" name="vehicleType" [(ngModel)]="vehicle.vehicleType" required>
                </td>
            </tr>
            <tr><td><label for="modelName">Model Name</label> </td>
            <td><input type="text" name="modelName" [(ngModel)]="vehicle.modelName" required ></td>
            </tr>    
           <tr>
            <td><button type="reset" class="btn btn-danger">Reset</button> </td>
            <td><button type="submit" [disabled]="!vehicleForm.valid" class="btn btn-primary" >Save</button></td>
      </tr>
    </table>
</form>

