<legend><h2 align = "center"><b>Registration Form</b></h2></legend><br><br><br>



<form class="well form-horizontal"  #registrationform = "ngForm" (ngSubmit) = validateRegistration(registrationform.value) (ngSubmit) = addCustomer(registrationform)  novalidate>
    <table align="center">

        <tr>
            <td><sup class="required">* </sup>First Name </td><td>Middle Name</td><td><sup class="required">* </sup>Last Name</td>
        </tr>
        <tr>
            <td><input type="text" name = "firstName" placeholder="First Name" ngModel required></td>
            <td><input type="text" name = "middleName" placeholder="Middle Name" ngModel ></td>
            <td><input type="text" name = "lastName" placeholder="Last Name" ngModel  required ></td>
        </tr>
        <tr>
            <td colspan="2"><sup class="required">* </sup>Email</td><td colspan="2"><sup class="required" >* </sup>Date of Birth</td><td></td>
        </tr>
        <tr>
            <td colspan="2"><input type="text" name = "customerEmail" placeholder="Email" [(ngModel)] = customerEmail required></td> 
            <td colspan="2"><input type="date" name = "dateOfBirth" ngModel required></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2"><sup class="required">* </sup>Password</td><td colspan="2"><sup class="required">* </sup>Confirm Password</td><td></td>
        </tr>
        <tr>
            <td colspan="2"><input type="password" name = "customerPassword" placeholder="Password" ngModel required></td>
            <td colspan="2"><input type="password" name = "customerConfirmPassword" placeholder="Confirm Password" ngModel required></td>
            <td></td>
        </tr>
        <tr>
            <td></td><td></td><td class="errormsg">{{e1}}</td>
        </tr>
        <tr>
            <td ><sup class="required">* </sup>Phone Number</td><td ><sup class="required">* </sup>Gender</td><td><sup class="required">* </sup>Nationality</td>
        </tr>
        <tr>
            <td ><input type="number" name = "phoneNumber" ngModel placeholder="Phone Number" required></td>
            <td>
            <!-- <td *ngFor="let g of GenderOptns">
                <input  type="radio" name = "gender" ngModel value="{{g}}">{{g}} -->
                <select name="gender" ngModel required>
                    <option selected disabled>Select</option>
                    <option *ngFor="let g of GenderOptns" value="{{g}}">
                        {{g}}
                    </option>              
                </select>
            </td>
        
            <td><input type="text" name = "nationality" ngModel placeholder="Nationality" required></td>
        </tr>
        <tr>
            <td colspan="2"><sup class="required">* </sup>Aadhar</td><td colspan="2"><sup class="required">* </sup>PAN</td><td></td>
        </tr>
        <tr>
            <td colspan="2"><input type="number" name = "aadharNumber" ngModel placeholder="Aadhar Number" required></td>
            <td colspan="2"><input type="text" name = "panNumber" ngModel placeholder="PAN" required></td>
            <td></td>
        </tr>
        <tr>
            <td></td><td></td><td align="left" colspan="2"><button type="submit" [disabled] = "!registrationform.valid">Register</button></td>
        </tr>
    </table>
</form> 

